table {
    width: 100%;
    box-shadow: none;
  }
  th{
    font-size: 14px;
  }
  .main-container{
  overflow-y: scroll;
    height: 100%;
  }
  .mat-form-field {
    font-size: 11px;
    width: 100%;
    height: 46px;
  }

  .highlight{
    color: white;
    background: #F5F5F5;
  }

  .clickableDetails:hover{
    cursor: pointer
  }
  .listCard{
    overflow-y: scroll;
    max-height: 557px !important;
  }
  .mainListCard{
    max-height: 630px !important;
  }

  .no-description-div{
    background-color: #F5F5F5;
    margin: 2%;
    text-align: center;
    padding: 5%;
  }
  .no-description-content{
    margin: 0;
    color: #999999;
    font-size: 13px;
  }
  .single-detail-list{
    color: #6A91A6;
    font-size: 13px;
  }

  .add-description{
    color: #16597A;
    font-weight: 600;
  }

  .unselected-item{
    background-color: #F5F5F5 !important;
    height: 46px;
    box-shadow: none;
    font-weight: 500;
  }
  .selected-item{
    background-color: #002B42 !important;
    color: #fff;
    height: 46px;
    font-weight: 500;
  }
  .menu-row{
    background-color: #F5F5F5;
    padding: 2%;
  }
  .list-name{
    font-weight: 600;
  }
  .common-grey-color{
    color: #D5D5D5;
    margin-right: 6%;
  }

  .custom-details{
    
    background: linear-gradient(180deg,#fff 90%, #16597A 50%);
    font-weight: 600;
  }

  .menu-card{
    padding:0;
  }
  ::ng-deep .mat-form-field {
    font-size: 12px; 
}
.custom-details-old{
    color: #16597A;
    padding: 7px 10px 7px 10px;
}
  .add-description, .custom-details-old, .custom-grey-color:hover{
    cursor: pointer;
  }